:root{
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(120deg,#000, #01011d, #24021d, #2b1e02);
  font-family: "Sarabun", 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}
.sidebar {
  position: fixed;
  height: 70%;
  width: 200px;
  border-right: 0.8px solid rgba(255, 255, 255, 0.2);
  transition: 0.5s ease;
  transform: translateX(-200px);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.sidebar p {
  color: #fff;
  font-weight: 800;
  text-align: right;
  padding: 10px 0;
  padding-right: 30px;
  pointer-events: none;
  font-size: 1.5rem;
}
.sidebar ul li a i {
  transition: all 0.3s ease-in-out;
}
.sidebar ul li a:hover i {
  transform: rotate(180deg); /* Rotate icon on hover */
}
ul {
  position: relative;
}
ul li {
  list-style: none;
  transition: 1s ease;
  transform: translate(calc(-200px * var(--i)))
}
ul li a {
  color: #fff;
  display: block;
  padding: 5px 0;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 2em;
  
}

ul li:hover a {
  color: #00ffff;
}
ul li a i {
  width: 40px;
  text-align: center;
}

/* styling of the toggle button   */
input[type="checkbox"] {
   /* -webkit-appearance: none; */
   visibility: hidden;
   display: none;
}
.toggle {
  position: fixed;
  height: 30px;
  width: 30px;
  top: 20px;
  left: 20px;
  border: 0.8px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-right: 2px;
  z-index: 1;
}
.toggle .common {
position: absolute;
height: 2px;
width: 20px;
left: 50%;
background: #fff;
border-radius: 50px;
transform: translate(-50%, -50%);
transition: 0.3s ease;
}
.toggle .top_line {
  top: 30%;
}
.toggle .middle_line {
  top: 50%;
}
.toggle .bottom_line {
  top: 70%;
}
input[type="checkbox"]:checked ~.toggle .top_line {
  transform: rotate(-45deg);
  left: 2px;
  top: 14px;
  width: 25px;
}
input[type="checkbox"]:checked ~.toggle .bottom_line {
  transform: rotate(45deg);
  left: 2px;
  top: 14px;
  width: 25px;
}
input[type="checkbox"]:checked ~.toggle .middle_line {
  transform: translateX(20px);
  opacity: 0;
}
input[type="checkbox"]:checked ~.sidebar{
  transform: translate(0);
}
input[type="checkbox"]:checked ~.sidebar ul li{
  transform: translate(calc(0 * var(--i)))
}
.h11 {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2em;
  margin-bottom: -30px;
}

  .about {
    text-align: justify;
    margin: 0 15px;
  
  }
  .about p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  
#p1 {
 margin-bottom: 20px;
 margin-top: 70px;
}
#p2 {
  margin-bottom: 20px;
}
#p3 {
  margin-bottom: 20px;
}
#p4 {
  margin-bottom: 20px;
}
section {
  /* background: linear-gradient(75deg,#2c3e50, rgb(37, 3, 3)); */
  padding: 40px 0;
}

section h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#p1 {
  display: flex;
  flex-wrap: nowrap;;
}
footer {
  background-color:  #01011d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

#img1{
  border-radius: 50%;
  width: 45%;
  height: 300px;
  float: right;
  margin-left: 10px;
  /* transition: all 0.5s;  */
  animation: expand 4s infinite;


}

.projects {
  text-align: center;
  font-weight: 900;
  font-family:Arial, Helvetica, sans-serif;
}
.Project_Parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.Project_Parent img {
  height: 200px;
  width: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.project1, .project2, .project3, .project4, .project5, .project6, .project7, .project8, .project9, .project10, .project11 {
  margin: 15px;
  width: 300px;
}

.Project_Parent img:hover {
  transform: scale(0.9);
}

footer p {
  margin: 0;
}


.container h2 {
  text-align: center;
}
.container  a {
  color: white;
  text-decoration: none;
}
.container a i {
  margin: 10px;
}
#contact h3 a:hover {
  color: #00ffff;
  text-decoration: underline;
  cursor: pointer;
}

.container {
  justify-content: center;
  text-align: center;
}

#projects h3 {
  margin-bottom: 5px;
  text-align: center;
}

#projects a {
  text-decoration: none;
  color: #fff;
  
}
#projects a:hover {
  color: #00ffff;
}



@media (max-width: 768px) {
 #about, #projects, #contact {
    margin-left: 3%;
    margin-right: 3%;
  }
  .Project_Parent {
    /* width: 275px; */
    margin-left: 8.6%;
    margin-right: 6%;
  }
}

@media (max-width: 380px){
  .Project_Parent {
    width: 275px;
    margin-left: 0.5em;
  }

}
@media (min-width: 768px) {

  #img1 {
   width: 25%;
   height: 350px;
   margin-right: 40px;
  }
  #about, #projects, #contact {
    margin-left: 10px;
  }
  .Project_Parent {
    margin-left: 30px;
    margin-right: 10px;;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
 }
 
